@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Spartan:wght@400;500;700&display=swap");

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	width: 1200px;
	background-color: #f9f9f9;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
}

.starText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.product{
    margin-right: 8rem;
}

h1 {
	color: hsl(300, 43%, 22%);
	font-size: 3.5rem;
	font-family: "Spartan", sans-serif;
    margin-bottom: 0px;
}

.text {
	color: #878288;
    font-size: 1.2rem;
}

.review {
	margin: 10px;
	display: flex;
	width: 450px;
	height: 60px;
	border-radius: 9px;
	background-color: hsl(338, 28%, 94%);
	justify-content: space-between;
	align-items: center;
	color: hsl(300, 43%, 22%);
	font-weight: bold;
	padding-left: 25px;
	padding-right: 49px;
}

.review___rated {
	padding-left: 20px;
	padding-right: 55px;
}

.guru {
	margin: 15px 0px 15px 47px;
	display: flex;
	width: 450px;
	height: 60px;
	border-radius: 9px;
	background-color: hsl(338, 28%, 94%);
	justify-content: space-between;
	align-items: center;
	color: hsl(300, 43%, 22%);
	font-weight: bold;
	padding-left: 25px;
	padding-right: 17px;
}

.guru___rated {
	padding-left: 20px;
	padding-right: 45px;
}

.best {
	margin: 12px 0px 0px 75px ;
	display: flex;
	width: 450px;
	height: 60px;
	border-radius: 9px;
	background-color: hsl(338, 28%, 94%);
	justify-content: space-between;
	align-items: center;
	color: hsl(300, 43%, 22%);
	font-weight: bold;
	padding-left: 25px;
	padding-right: 45px;
}

.best___rated {
	padding-left: 20px;
	padding-right: 45px;
}

.star {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
span {
	color: hsl(333, 80%, 67%);
}

.comment {
	color: white;
	display: flex;
}

.colton {
	margin: 10px 10px 0px 0px;
	width: 340px;
	height: 200px;
	background-color: hsl(300, 43%, 22%);
	border-radius: 8px;
	display: flex;
	flex-wrap: wrap;
}

.colton___image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 30px;
	margin-top: 33px;
}

.colton___name {
	line-height: 1.4rem;
	margin: 33px 0px 0px 25px;
}
.colton___opinion {
	margin: 0px 0px 0px 5px;
	padding: 15px;
}

.irene {
	margin: 15px 0px 0px 0px;
	width: 340px;
	height: 200px;
	background-color: hsl(300, 43%, 22%);
	border-radius: 8px;
	display: flex;
	flex-wrap: wrap;
    
}

.irene___image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 30px;
	margin-top: 33px;
}

.irene___name {
	line-height: 1.4rem;
	margin: 33px 0px 0px 25px;
}
.irene___opinion {
	margin: 0px 0px 0px 5px;
	padding: 15px;
}

.anne {
	margin: 20px 0px 0px 11px;
	width: 340px;
	height: 200px;
	background-color: hsl(300, 43%, 22%);
	border-radius: 8px;
	display: flex;
	flex-wrap: wrap;
}

.anne___image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 30px;
	margin-top: 33px;
}

.anne___name {
	line-height: 1.4rem;
	margin: 33px 0px 0px 25px;
}
.anne___opinion {
	margin: 0px 0px 0px 5px;
	padding: 15px;
}
